.campo {
    padding: 7px 9px;
    font-size: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    background-color: #F5F5DC;
}

.campo-invalido {
    border-color: #FF0000;
}

.campo-valido {
    border-color: #0000FF;
}