#principal {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-color: #FFFAFA;
    height: 600px;
    width: 70%;
    margin: 0 auto;
}

.campo {
    padding: 7px 9px;
    font-size: 15px;
    border-width: 1px;
    border-style: solid;
    border-color: #000000;
    background-color: #F5F5DC;
}

.mensagem-erro {
    color: #FF0000;
    font-size: 12px;
}

.campo-invalido {
    border-color: #4d3737;
}

.campo-valido {
    border-color: #0000FF;
}